# Ignore all __pycache__ folders
**/__pycache__/

# Ignore all .ipynb files
*.ipynb
# Except some notebook 
!summarize_experiment_performance.ipynb

#Ignore all text files
*.txt
!requirements.txt

#Ignore specific files
temp.py
useful_stuff.py
config.py 


experiments/
# data/
# results/

# # -----------------------
# # Python artifacts
# # -----------------------
__pycache__/
# *.pyc
# *.pyo
# *.pyd
# *.py[cod]
# *.egg
# *.egg-info/
# dist/
# build/
# *.so

# -----------------------
# Data & outputs
# -----------------------
*.ckpt
results/
cache/


# -----------------------
# Optional: temporary / scratch
# -----------------------
tmp/
temp/
*.log
